<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Task List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <h1 class="enter-list-title">Enter a List Name</h1>
    <div class="middle-container">
        <form class="enter-list-form" action="/" method="post">
            <input class="enter-list-name" type="text" name="listName">
            <button class="addItem-button" type="submit" name="button" autofocus="true">></button>
        </form>

    
    </div>


</body>

</html>
